tmp/
*.tmp
*.bak
*.swp

Desktop.ini
$RECYCLE.BIN/
.DS_Store

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*un~
Session.vim
.netrwhist
*~

# Haskell
*.errors
*.hi
*.o

# Xmonad executables
xmonad/xmonad
xmonad/xmonad-x86_64-linux

# Ranger stuff
config/ranger/history
