# GITIGNORE -- dots

tmp/
*.tmp
*.bak
*.swp
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*un~
Session.vim
.netrwhist
*~
# Unneeded .vim dirs (TODO: find a better f*ing rule)
vim/backup
vim/cache
vim/plugged
vim/swap
vim/undo
vim/view
vim/autoload/plug.*

# Haskell
*.errors
*.hi
*.o

# Xmonad executables
xmonad/xmonad
xmonad/xmonad-x86_64-linux

# History files
config/ranger/history
xmonad/history

# chromium sux
config/chromium/
config/menus/
